*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  font-size: 1rem;
  position: relative;
}

a{
  text-decoration: none !important;
  color: #000;
  cursor: pointer;
}

button{
  border: 0;
  cursor: pointer;
}

input{
  outline: 0;
}

@mixin flexCenter($direction){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin blackborder{
  border: 1px solid #000;
}


@mixin media-me{
  @media (max-width: 750px) {
    @content;
  }
}

@mixin media-md{
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-xmd{
  @media (max-width: 320px) {
    @content;
  }
}